<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="initService" class="com.spring.service.InitService">
    </bean>

    <bean id="draperService" class="com.spring.service.DraperService">
    </bean>

    <bean id="groupService" class="com.spring.service.GroupService">
    </bean>

    <bean id="upgradeService" class="com.spring.service.UpgradeService">
    </bean>

    <bean id="deviceService" class="com.spring.service.DeviceService">
    </bean>

    <!--<bean id="socket" class="com.spring.socket.SpringWebSocketHandler">-->
    <!--</bean>-->
</beans>